.events__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.registration {
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.events__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.events__title {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.event_game__name {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: .2rem;
}

.event__time {
    font-weight: 550;
}

.event_buttons__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}