.game_card {
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.games__box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.games__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.games__title {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.game_buttons__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}