.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(253, 181, 86);
    padding: 2rem;
    border-bottom: #27ae60 solid 5px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
